# NestJS
NESTJS_PORT=8000

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ecommand

# JWT
JWT_SECRET=ff422955c4307e0efbe672cc34718bb38ad93200219362fcae83a050e3000953

# MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=ecommand

# Storage (fallback)
STORAGE_PATH=./uploads
